{
	"appId":"BAA3321031111",
	"appKey":"BAA3321031111_ANDROID",
	"base64Code":"",
	"packageName":"com.csii.test.cn",
	"rootPath":"mpaas/android/BAA3321031111-DEV",
	"workspaceId":"DEV",
	"rpcGW":"https://cn-hangzhou-mgs-gw.cloud.alipay.com/mgw.htm",
	"mpaasapi":"https://cn-hangzhou-component-gw.cloud.alipay.com/mgw.htm",
	"pushPort":"443",
	"pushGW":"cn-hangzhou-mps-link.cloud.alipay.com",
	"logGW":"https://cn-hangzhou-mas-log.cloud.alipay.com",
	"syncport":"443",
	"syncserver":"cn-hangzhou-mss-link.cloud.alipay.com"
}